table {
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}

:host ::ng-deep {
  .mat-tab {
    background-color: rgb(149, 159, 248);
  }

  th,
  td {
    // padding-left: 18px !important;
    min-width: 200px !important;
  }
}