 
        <div class="flex mt-8 overflow-y">
            <div class="w-full flex flex-col ml-9">
                <div class="flex gap-5 pb-8">
                    <div class=" rounded-xl shadow-sm border border-gray-50 bg-white">
                        <div class="flex sm:m-3 xl:m-8">
                            <div class="flex gap-2 xl:gap-8">
                                <div class="flex flex-col h-max pr-[120px] border-r-2 border-gray-200">
                                    <span class="text-lg font-medium">Total Entry</span>
                                    <span class="text-[12px] text-gray-500">Total uploaded in database</span>
                                    <span class="pt-2 text-2xl font-medium">{{totcount}}</span>
                                </div>

                                <div class=" h-full flex flex-col pr-[120px] border-r-2 border-gray-200">
                                    <span class="text-lg font-medium">Success Entry:
                                    </span>
                                    <span class="text-[12px] text-gray-500">Success rows uploaded count</span>
                                    <span class="pt-2 text-2xl font-medium">{{successcount}}</span>
                                </div>

                                <div class=" h-max flex flex-col pr-[120px] ">
                                    <span class="text-lg font-medium">Failed Entry:</span>
                                    <span class="text-[12px] text-gray-500">Failed Rows uploaded count</span>
                                    <span class="pt-2 text-2xl font-medium">{{errcount}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <mat-tab-group class="w-[150vh] flex justify-center">
                    <mat-tab class="">
                        <ng-template mat-tab-label>
                            <span class="green" matBadge={{successcount}} matBadgeOverlap="false">Success</span>
                        </ng-template>
                        <div class="flex flex-col mat-elevation-z2 ">
                            <table mat-table [dataSource]="successData">
                                <!-- Batch No Column -->
                                <ng-container matColumnDef="Batch No">
                                    <th mat-header-cell *matHeaderCellDef> Batch No </th>
                                    <td mat-cell *matCellDef="let element"> {{element.batch.id}} </td>
                                </ng-container>

                                <!-- Customer_Name Column -->
                                <ng-container matColumnDef="Customer Name">
                                    <th mat-header-cell *matHeaderCellDef> Customer Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Customer_Name}} </td>
                                </ng-container>

                                <!-- Customer_MobileNo Column -->
                                <ng-container matColumnDef="Customer MobileNo">
                                    <th mat-header-cell *matHeaderCellDef> Customer MobileNo </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Customer_MobileNo}} </td>
                                </ng-container>

                                <!-- Plan_Id Column -->
                                <ng-container matColumnDef="Plan Id">
                                    <th class="items-center" mat-header-cell *matHeaderCellDef> Plan Id </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Plan_Id}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator #paginator1 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                                aria-label="Select page">
                            </mat-paginator>
                        </div>
                    </mat-tab>
                    <mat-tab>
                        <ng-template mat-tab-label>
                            <span class="red" matBadge={{errcount}} matBadgeOverlap="false">Failed</span>
                        </ng-template>
                        <div class="flex flex-col mat-elevation-z2 ">
                            <table mat-table [dataSource]="failData">
                                <!-- Batch No Column -->
                                <ng-container matColumnDef="Batch No">
                                    <th mat-header-cell *matHeaderCellDef> Batch No </th>
                                    <td mat-cell *matCellDef="let element"> {{element.batch.id}} </td>
                                </ng-container>

                                <!-- Customer_Name Column -->
                                <ng-container matColumnDef="Customer Name">
                                    <th mat-header-cell *matHeaderCellDef> Customer Name </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Customer_Name}} </td>
                                </ng-container>

                                <!-- Customer_MobileNo Column -->
                                <ng-container matColumnDef="Customer MobileNo">
                                    <th mat-header-cell *matHeaderCellDef> Customer MobileNo </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Customer_MobileNo}} </td>
                                </ng-container>

                                <!-- Plan_Id Column -->
                                <ng-container matColumnDef="Plan Id">
                                    <th class="items-center" mat-header-cell *matHeaderCellDef> Plan Id </th>
                                    <td mat-cell *matCellDef="let element"> {{element.Plan_Id}} </td>
                                </ng-container>

                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                            </table>
                            <mat-paginator #paginator2 [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons
                                aria-label="Select page">
                            </mat-paginator>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
