<div class="flex h-[300px] xl:h-[400px]">
    <div class="w-full bg-gray-400 ">
        <div class="flex gap-5 justify-center mt-[150px] xl:mt-[220px]">
            <div class="w-max h-max bg-white rounded-xl shadow-lg">
                <div class="flex m-4 sm:m-3 xl:m-12">
                    <div class="flex flex-col gap-2 xl:gap-5">
                        <div class="mt-3 w-[140px] xl:w-[300px] rounded-[48px] shadow-lg bg-green-400">
                            <span class="text-lg p-5 flex justify-center">Success Entry:
                                <span class="text-lg px-2 flex ">{{successcount}}</span></span>
                        </div>
                        <div class="mt-2.5 w-[140px] xl:w-[300px] rounded-[48px] shadow-lg bg-red-400">
                            <span class="text-lg p-5 flex justify-center">Failed Entry:
                                <span class="text-lg px-2 flex justify-center">{{errcount}}</span></span>

                        </div>
                        <div class=" mt-2.5 h-max rounded-[48px] shadow-lg bg-gray-400">
                            <span class="text-lg p-5 flex justify-center">Total Entry:
                                <span class="px-2 inline-block align-text-bottom">{{totcount}}</span> </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="flex hidden  md:inline-block justify-center">
                <img class="h-[375px] w-[400px] shadow-lg rounded-xl"
                    src="../../assets/Lottie/67014-files-animation.gif" alt="">
            </div>
        </div>
        <div class="mt-6 flex justify-center">
            <button class="bg-green-400" mat-raised-button routerLink="/home">
                Add Another
                <!-- <mat-icon>forward</mat-icon> -->
            </button>
        </div>
    </div>
</div>