<div class="flex h-[400px]">
    <div class="w-full bg-gray-400 ">
        <div class="flex gap-5 justify-center mt-[250px]">
            <div class="w-max h-max bg-white rounded-xl shadow-lg">
                <div class="flex gap-5 m-12">
                    <div class=" w-[150px] h-[200px] rounded-full shadow-lg bg-green-400">
                        <span class="text-lg m-2 pt-12 flex justify-center">Success Entry:</span><br>
                        <span class="text-lg m-2 flex justify-center">5</span>
                    </div>
                    <div class=" w-[150px] h-[200px] rounded-full shadow-lg bg-red-400">
                        <span class="text-lg m-2 pt-12 flex justify-center">Failed Entry:</span><br>
                        <span class="text-lg m-2 flex justify-center">1</span>
                    </div>
                </div>
            </div>
            <div class="flex justify-center">
                <img class="h-[300px] w-[350px] shadow-lg rounded-xl" src="../../assets/Lottie/28799-a-woman-in-isometric-style-works-at-a-table.gif"
                    alt="">
            </div>
        </div>
    </div>
</div>