<div class="h-full">
  <mat-drawer-container class="example-container bg-white" autosize>
    <mat-drawer #drawer class="example-sidenav " mode="side" opened="true" disableClose="true">
    <div *ngFor="let m of menuList; index as i">
      <p class="cursor-pointer text-lg border-b-2 border-gray-200 h-11 pt-1" routerLink="m.route" 
      [ngClass]="m['isSelect'] ? 'bg-blue-300 text-white'  : '' " (click)="selectMenu(i, m['route'])">
      <i class="{{m.icon}} mx-3 my-1 text-xl"></i>{{m['name']}}</p>
    </div>
    </mat-drawer>
    <div class="h-[85vh] w-[170vh] ml-2 bg-white">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-container>
</div>