<div class="flex h-full">
    <div class="w-4/12 bg-green-300">
        <div
            class="flex w-[600px] h-[500px] p-6 max-w-md mx-auto bg-white rounded-xl shadow-xl flex items-center space-x-4 ml-[270px] mt-[180px]">
            <img src="../../assets/Lottie/7491-uploading-files.gif">
        </div>
    </div>
    <div class="w-3/12"></div>
    <div class="w-6/12">
        <div class="flex flex-col mt-[300px]">
            <p
                class=" flex self-center text-2xl font-bold bg-clip-text text-transparent bg-gradient-to-r from-pink-500 to-violet-500">
                Choose the Excel-file</p>
            <div class="p-6 w-max bg-white rounded-xl shadow-lg flex items-center self-center">
                <form [formGroup]="uploadForm">
                    <input type="file" formControlName="file" (change)="readfile($event) "><br>
                </form>
                <button class="w-[100px]" mat-raised-button (click)="upload()">Upload</button>
            </div>
            <div class="mt-5 flex self-end mr-[160px]">
                <button class="bg-green-400" [disabled]="buttonDisable" mat-raised-button routerLink="/tagging">
                    Continue
                    <!-- <mat-icon>forward</mat-icon> -->
                </button>
            </div>
        </div>

    </div>
</div>