<div
    class="w-full h-full currently-loading bg-gradient-to-r from-[#304972] to-[#142033] flex justify-left justify-left">
    <div class="self-center">
        <div class=" w-[700px] h-max shadow-md rounded-md bg-white">
            <div class=" px-10 mt-18">
                <span class=" flex justify-center pb-8 text-2xl text-black font-cherif">Tag
                    the Table Headers <mat-divider></mat-divider></span>

                <div class=" w-full mt-[2px]">
                    <div class="flex flex-wrap gap-2">
                        <div class="" *ngFor="let h of tableHeader, index as i">
                            <div>
                                <span class="text-base flex items-center ">{{h.header}}
                                    <small class="text-red-600">*</small> </span>
                            </div>
                            <div class="flex justify-center">
                                <mat-form-field class="w-[40vh]" appearance="outline" [formGroup]="excelform">
                                    <mat-select #dropdown formControlName="dropbox">
                                        <mat-option *ngFor="let d of dropdownList, index as j"
                                            [disabled]="d['isSelected']" (click)="selectedData(i, j, h)"
                                            [value]="d['name']">
                                            {{d.name}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="">
                <button class="flex w-full h-[52px] text-base text-white bg-green-600" [disabled]="disabled"
                    mat-raised-button (click)="copyData()">Upload all Data</button>
            </div>
        </div>
    </div>
</div>